<form action="/students" method="post">

<label for="first-name">First Name:</label>
<input id="first-name" type="text" name="first_name">
<br>
<br>
<label for="last-name">Last Name:</label>
<input id="last-name" type="text" name="last_name">
<br>
<br>
<label for="age">Age:</label>
<input id="age" type="number" name="age">
<br>
<br>
<label for="house_select">Select House:</label>
<select id="house_select" name="house_id">

   <% @houses.each do |house| %>
     <option value="<%= house.id %>"><%=house.name%></option>
   <% end %>

 </select>

<!-- <select name="house_id" id="house_select">
  <option value="1">Gryffindor</option>
  <option value="2">Hufflepuff</option>
  <option value="3">Ravenclaw</option>
  <option value="4">Slytherin</option>
</select> -->
<br>
<br>
<input type="submit" value="Enrol Student">

</form>
